.bg-div{
    background-image: url("../../assets/img/bg-9.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    .head{
        font-family:  'Rubik', sans-serif;
        color:white;
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        transform: translateY(-50%);
        z-index: 1;
        line-height: 0.1vh;
        &-div{
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        h1{
            font-size: 5rem;
            padding: 0 !important;
        }
        .text{
            width: 100%;
            background-color: whitesmoke;
            color:black;
        }
    }
    .scroll-btn {
        display: block;
        position: absolute;
        bottom:0;
        left: 0;
        right: 0;
        text-align: center;
    }
    .scroll-btn > *:hover,
    .scroll-btn > *:focus,
    .scroll-btn > *.active {
        color: #ffffff;
    }
    .scroll-btn > *:hover,
    .scroll-btn > *:focus,
    .scroll-btn > *:active,
    .scroll-btn > *.active {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
    .scroll-btn .mouse {
        position: relative;
        display: block;
        width: 35px;
        height: 55px;
        margin: 0 auto 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 3px solid white;
        border-radius: 23px;
    }
    .scroll-btn .mouse > * {
        position: absolute;
        display: block;
        top: 29%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        background: white;
        border-radius: 50%;
        -webkit-animation: ani-mouse 2.5s linear infinite;
        -moz-animation: ani-mouse 2.5s linear infinite;
        animation: ani-mouse 2.5s linear infinite;
    }
}

@media only screen and (max-device-width: 1366px) {
  .bg-div {
    background-attachment: scroll;
  }
}

//mouse animation

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}

@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
