.header-nav{
    background: transparent !important;
    .brand-name{
        color: whitesmoke;
        font-size: xx-large;
        font-family: 'Pacifico', cursive !important;
        &:hover{
            color:white;
        }
    }
    .slash{
        color:white;
        font-family: 'Special Elite', cursive !important;
        padding:0.5rem;
        font-size: large;
        border: 2px solid transparent;
    }
    .nav-link{
        color:white !important;
        font-size: large;
        font-family: 'Special Elite', cursive !important;
        border: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid #ffff;
            transition: border-bottom 0.2s ease-in-out;
        }
    }
}

@media (max-width:768px) {
    .header-nav{
        .slash{
            display: none;
        }
        .navbar-nav{
            align-items: center;
            margin-right: 0 !important;
        }
    }
}
