.header-nav{
    .brand-name{
        font-size: xx-large;
        font-family: 'Pacifico', cursive !important;
    }
    .slash{
        color:rgba(0,0,0,0.5);
        padding:0.5rem;
        font-size: large;
        border: 2px solid transparent;
    }
    .nav-link{
        font-size: large;
        font-family:  'Rubik', sans-serif !important;
        border: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid #5ca9fb;
            transition: border-bottom 0.2s ease-in-out;
        }
    }
}

@media (max-width:768px) {
    .header-nav{
        .slash{
            display: none;
        }
        .navbar-nav{
            align-items: center;
            margin-right: 0 !important;
        }
    }
}
