.header-nav{
    background: transparent !important;
    .brand-name{
        color: whitesmoke;
        font-size: xx-large;
        font-family: 'Pacifico', cursive !important;
        &:hover{
            color: #29a19c !important;
            transition: color 0.3s ease-in-out;
        }
        &:focus{
            color: white !important;
        }
    }
    .navbar-toggler{
        border-color: #ffff;
        &-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
        }
    }
    .nav-link{
        display: flex;
        justify-content: center;
        align-items: center;
        color:white !important;
        font-size: 17px;
        font-family: 'Courier Prime', monospace !important;
        &:hover,&:focus{
            color: #29a19c !important;
            transition: color 0.3s ease-in-out;
        }
        .button{
            color:#29a19c;
            border-color: #29a19c;
            &:hover,&:focus,&:active{
                outline:none !important;
                box-shadow: none !important;
                background-color: transparent !important;
                color:#63c9c6 !important;
                border-color: #63c9c6 !important;
                transition: all 0.3 ease-in-out;
            }
        }
    }
}

@media (max-width:768px) {
    .header-nav{
        .navbar-nav{
            align-items: center;
            margin-right: 0 !important;
        }
    }
}
