.header-nav{
    background: transparent !important;
    .brand-name{
        color: whitesmoke;
        font-size: xx-large;
        font-family: 'Pacifico', cursive !important;
        &:hover,&:focus{
            color: #29a19c !important;
            transition: color 0.3s ease-in-out;
        }
    }
    .navbar-toggler{
        border-color: #ffff;
        &-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
        }
    }
    .slash{
        color:#29a19c;
        font-family: 'Courier Prime', monospace !important;
        padding:0.5rem;
        font-size: 17px;
    }
    .nav-link{
        color:white !important;
        font-size: 17px;
        font-family: 'Courier Prime', monospace !important;
        &:hover,&:focus{
            color: #29a19c !important;
            transition: color 0.3s ease-in-out;
        }
    }
}

@media (max-width:768px) {
    .header-nav{
        .slash{
            display: none;
        }
        .navbar-nav{
            align-items: center;
            margin-right: 0 !important;
        }
    }
}
