.quote-div{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),  url("../../assets/img/bg-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    .head{
        height: 100%;
        display: flex;
        .quote{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color:white;
            p{
                text-align: center;
                font-size: 40px;
                font-family: 'Cormorant Garamond', serif;
            }
            span{
                text-align: center;
                font-family:  'Rubik', sans-serif;
                font-size: 23px;
            }
        }
    }
}