.timeline {
    list-style: none;
    padding: 20px;
    color:black;
    position: relative;
	&:before {
        top: 40px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 0;
        margin-left: -1.5px;
    }
    &-heading-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
	.timeline-item {
        margin-bottom: 20px;
        position: relative;
		&:before,
		&:after {
            content: "";
            display: table;
        }
		&:after {
            clear: both;
        }
		.timeline-badge {
            color: #fff;
            width: 54px;
            height: 54px;
            line-height: 45px;
            font-size: 22px;
            text-align: center;
            position: absolute;
            top: 18px;
            left: -21px;
            margin-left: -25px;
            background-color:rgb(66, 164, 160);
			border: 3px solid #fff;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
			.glyphicon {
				top: 2px;
				left: 0px;
			}
        }
		.timeline-panel {
            position: relative;
            width: 80%;
            height: 100%;
            max-height: 150px;
            float: left;
			right: 16px;
            border: 1px solid #777777;
			background: #fff;
            border-radius: 2px;
            padding: 20px;
            -webkit-box-shadow: 0 1px 6px rgba(255, 255, 255, 0.175);
            box-shadow: 0 1px 6px rgba(255, 255, 255, 0.175);
			&:before {
                position: absolute;
                top: 26px;
                right: -16px;
                display: inline-block;
                border-top: 16px solid transparent;
                border-left: 16px solid #777777;
                border-right: 0 solid #777777;
                border-bottom: 16px solid transparent;
                content: " ";
            }
			.timeline-title {
    			margin-top: 0;
    			color: inherit;
			}
			.timeline-body > p,
			.timeline-body > ul {
    			margin-bottom: 0;
			}
			.timeline-body > p + p {
        		margin-top: 5px;
    		}
        }
    }
	.timeline-item{
		.timeline-panel {
			left: 40px;
			&:before {
				border-left-width: 0;
				border-right-width: 14px;
				left: -14px;
				right: auto;
			}
		}
	}
}