@media only screen and (max-width:700px){
  .main-div{
    padding:30px;
  }
  .contact-div .footer{
    bottom:-20px;
  }
  .timeline{
      &-heading-div{
          display: block;
      }
  }
}

@media only screen and (max-width:769px){
    .card{
        height:300px;
    }
    .header-nav{
        .navbar-nav{
            align-items: center;
            margin-right: 0 !important;
        }
    }
    .timeline .timeline-item .timeline-panel{
        width: 100%;
    }
}

@media only screen and (max-device-width: 1366px) {
  .bg-div {
    background-attachment: scroll;
  }
}